@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/HelveticaNeueLight.eot");
  src: url("../fonts/HelveticaNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLight.woff2") format("woff2"), url("../fonts/HelveticaNeueLight.woff") format("woff"), url("../fonts/HelveticaNeueLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.slider .kt-blocks-carousel-init {
  margin-bottom: 0px !important;
}
.slider .kb-splide .splide__pagination,
.slider .kb-splide ul.splide__pagination.splide__pagination {
  bottom: 35px;
  gap: 5px;
}
.slider .kt-blocks-carousel .kt-carousel-dotstyle-light .splide__pagination__page,
.slider .kt-blocks-carousel .kt-carousel-dotstyle-light .splide__pagination__page.is-active {
  opacity: 1;
  background-color: white;
  border: solid 1px white;
}
.slider .kt-blocks-carousel .kt-carousel-dotstyle-light .splide__pagination__page,
.slider .kt-blocks-carousel .kt-carousel-dotstyle-light .splide__pagination__page {
  opacity: 1;
  background-color: transparent;
  border: solid 1px white;
}

.titulo {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 40px;
  line-height: 40px;
}

.descripcion {
  font-family: "Helvetica Neue LT Std LtCn";
  font-size: 18px;
}

.imagen img {
  border-bottom: solid 5px #f96302;
}

.imagenes-s2 .kt-row-column-wrap {
  gap: 15px;
}

.subtitulo {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 20px;
}

.boton {
  font-family: "Helvetica Neue LT Std BdCn";
}

.img-hover {
  width: 100%;
}

.inicio-shortcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}
.inicio-shortcode p {
  font-family: "Helvetica Neue LT Std BlkCn";
  font-size: 30px;
}
.inicio-shortcode form {
  width: 100%;
}
.inicio-shortcode .inputs {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0.75rem;
  max-width: 500px;
  width: 100%;
}
.inicio-shortcode .inputs .thd-input-error {
  color: #b42318;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
.inicio-shortcode .inputs.dos {
  margin-top: 5px;
}
.inicio-shortcode .inputs p {
  position: absolute;
  top: -8px;
  left: 15px;
  background-color: #fff;
  text-align: center;
  font-family: "Helvetica Neue LT Std LtCn";
}
.inicio-shortcode .inputs label {
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  display: block;
  padding: 5px 10px;
  margin-left: 20px;
  background-color: #fff;
  margin-bottom: -5px;
  position: relative;
  z-index: 1;
}
.inicio-shortcode .inputs input {
  width: 270px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
.inicio-shortcode .inputs input::-webkit-input-placeholder {
  font-size: 11px;
  font-family: "Helvetica Neue LT Std LtCn";
}
.inicio-shortcode .inputs input::-moz-placeholder {
  font-size: 11px;
  font-family: "Helvetica Neue LT Std LtCn";
}
.inicio-shortcode .inputs input:-ms-input-placeholder {
  font-size: 11px;
  font-family: "Helvetica Neue LT Std LtCn";
}
.inicio-shortcode .inputs input::-ms-input-placeholder {
  font-size: 11px;
  font-family: "Helvetica Neue LT Std LtCn";
}
.inicio-shortcode .inputs input::placeholder {
  font-size: 11px;
  font-family: "Helvetica Neue LT Std LtCn";
}
.inicio-shortcode input[type=text],
.inicio-shortcode input[type=password] {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border: 1px solid black;
  border-radius: 0;
}
.inicio-shortcode .thd-btn {
  display: inline-block;
  padding: 0.8rem 1rem;
  padding-bottom: 0.4rem;
  border: 0;
  cursor: pointer;
  background-color: #f96302;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Helvetica Neue LT Std BdCn";
  font-size: 20px;
}
.inicio-shortcode .thd-btn:hover {
  background-color: rgb(223.703187251, 88.9422310757, 1.796812749);
}
.inicio-shortcode .thd-msg,
.inicio-shortcode .thd-msg-lost {
  color: #d32f2f;
  font-weight: 600;
}

#thd-forgot-link, #thd-cancel-lost {
  color: black;
  font-size: 12px;
}

.rem-lost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thd-passwrap {
  position: relative;
}
.thd-passwrap input[type=password],
.thd-passwrap input[type=text] {
  padding-right: 2.5rem;
}

.thd-eye {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 0;
  background: transparent;
  padding: 0.25rem;
  cursor: pointer;
  line-height: 0;
  color: #666;
}
.thd-eye svg {
  display: block;
  width: 20px;
  height: 20px;
}
.thd-eye:focus {
  outline: 2px solid #f96302;
  outline-offset: 2px;
}